body {
    box-sizing: border-box;
    font-family: "Open Sans";
    font-weight: lighter;
}

.main-container {
    margin: 0 auto;
}

p, .second-menu-item {
    line-height: 1.4;
    font-size: 16px;
}

h1 {
    font-size: 20px;
}

h2, .menu-button, .menu-item {
    font-size: 20px;
}

hr {
    width: 200px;
    border: 0;
    height: 1px;
    background: #ff4242;
    margin: 15px auto;
}

img {
    max-width: 100%;
}

a, .flex {
    display: flex;
}

#about, #types, #gallery, footer {
    padding: 20px 0;
}

nav {
    height: 75px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    transition: 0.6s;
    z-index: 10;
    width: 100%;
}

.small-nav {
    transition: 0.6s;
    height: 55px;
}

.logo {
    height: 45px;
    padding-left: 20px;
}

.menu-list > a, .second-menu-list > a {
    height: 45px;
}

.menu-button {
    font-weight: 800;
    padding-right: 20px;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    display: block;
}

.menu-icon {
    width: 20px;
    height: 3px;
    background-color: #ffffff;
    position: relative;
    top: 11px;
    right: 22px;
}

.menu-icon:before, .menu-icon:after {
    width: 20px;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    content: ' ';
}

.menu-icon:before {
    top: 6px;
}

.menu-icon:after {
    bottom: 6px;
}

.menu-list {
    position: absolute;
    top: 100%;
    right: -50%;
    transform: translate(-50%, 0);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.menu-item, .second-menu-item, .header-text, .fruits-images {
    justify-content: center;
    align-items: center;
}

.menu-item, .second-menu-item {
    height: 100%;
}

.menu-item:hover, .second-menu-item:hover {
    background-color: rgba(0, 0, 0, 0.75);
}

.second-menu {
    cursor: pointer;
}

.hide {
    display: none;
}

h1, h2, p, #contact {
    padding: 15px;
}

.header {
    background-image: url("/zadanie/img/mix-owocow-w-koszyku.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}

.header-text > h1 {
    font-size: 35px;
}

.header-text {
    color: white;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px #000000;
}

@keyframes slide {
    0%   {bottom: 20%}
    50% {bottom: 18%}
    100%   {bottom: 20%}
}

@keyframes pulse {
    0%   {background: #dcd3b4;}
    50% {background: #fff6d4; box-shadow: 0 -3px 2px 2px #fff6d4;}
    100%   {background: #dcd3b4;}
}

.arrow {
    position: absolute;
    right: 50%;
    bottom: 20%;
    animation: slide 2s infinite;
    height: 50px;
}

.first-line, .second-line {
    width: 30px;
    right: 50%;
    position: absolute;
    transform: translateX(50%);
    bottom: 20%;
}

.first-line {
    bottom: 30%;
}

.second-line {
    bottom: 10%;
}

.first-line:before, .first-line:after, .second-line:before, .second-line:after {
    width: 100%;
    height: 4px;
    background-color: #dcd3b4;
    right: 50%;
    position: absolute;
    content: ' ';
    animation: pulse 2s infinite
}

.second-line:before, .second-line:after {
    animation-delay: 0.5s;
}

.first-line:before, .second-line:before {
    right: 50%;
    transform: skewY(40deg)
}

.first-line:after, .second-line:after {
    left: 50%;
    transform: skewY(-40deg)
}

#about {
    width: 80%;
    margin: 0 auto;
}

#about > p {
    text-align: justify;
}

#about > h1, .submit, .logo-container, .copyright {
    text-align: center;
}

.fruits-images > div, .fruits-gallery {
    width: 50%;
}

.right-margin {
    margin-right: 15px;
}

#types {
    flex-wrap: wrap;
}

#types > h1 {
    font-size: 16px;
}

.type-image, .type-description, #contact > div, .main-container {
    width: 100%;
}

.type-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

table, tr, th, td {
    border: 1px solid #000000;
    border-collapse: collapse;
    font-size: 14px;
    padding: 3px;
}

th {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

table {
    margin: 5px;
}

.fruits-gallery, .column, .header-text {
    flex-direction: column;
}

.fruits-gallery > h3 {
    position: relative;
    display: inline;
    font-size: 18px;
    padding: 10px;
}

.fruits-gallery > h3::after {
    height: 1px;
    background: #ff4242;
    content: '  ';
    position: absolute;
    display: inline;
    bottom: 0;
    left: 10px;
    width: 66%;
}

.fruits-gallery > p {
    font-size: 14px;
    padding: 10px;
}

footer {
    background-color: #e1e1e1;
}

.footer-container {
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-column {
    justify-content: center;
    flex-grow: 1
}

.footer-item>a {
    color: black;
    font-weight: lighter;
}

.footer-item {
    padding: 15px 15px 0 15px;
}

.footer-item:last-child {
    padding: 15px;
}

#contact {
    flex-grow: 2;
    flex-wrap: wrap;
    align-content: center;
}



.logo-container {
    padding: 15px 20px 15px 15px;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

input, label {
    padding: 5px 0;
}

input {
    display: inline;
}

.email {
    width: 68%;
    background-color: #e1e1e1;
    border-width: 0;
    border-bottom: 1px solid #585858;
}

.submit {
    width: 30%;
    background-color: #e1e1e1;
    border: 1px solid #585858;
    text-decoration: none;
}

.footer-logo {
    height: 100px
}

.copyright {
    width: 100%;
    padding: 5px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .main-container {
        max-width: 750px;
    }

    .first-line, .second-line {
        width: 40px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .main-container {
        max-width: 970px;
    }

    .header-text > h1 {
        font-size: 56px;
    }

    .header-text > h2 {
        font-size: 40px;
    }

    .fruits-gallery > h3
    {
        font-size: 30px;
    }

    .fruits-gallery > p
    {
        font-size: 17px;
    }

    table, tr, th, td {
        font-size: 25px;
        padding: 15px;
    }

    h1 {
        font-size: 35px;
    }

    .first-line, .second-line {
        width: 50px;
    }
}

@media (min-width: 1200px) {
    .main-container {
        max-width: 1170px;
    }

    .menu-button {
        display: none;
    }

    .menu-list {
        display: flex;
        position: relative;
        top: 0;
        right: 0;
        transform: none;
        width: auto;
        height: 100%;
        background: none;
        padding-right: 20px;
    }

    .menu-item, .second-menu-item {
        padding: 10px 10px;
        background: none;
        height: initial;
    }

    .menu-item > a, .second-menu-item > a {
        height: 100%;
    }

    table, tr, th, td {
        font-size: 25px;
        padding: 15px;
    }

    h1 {
        font-size: 35px;
    }

    p {
        line-height: 1.6;
        font-size: 20px;
    }

    .header-text > h1 {
        font-size: 76px;
    }

    .header-text > h2 {
        font-size: 50px;
    }

    .fruits-gallery > h3
     {
        font-size: 30px;
    }

    .fruits-gallery > p
    {
        font-size: 17px;
    }

    .second-menu-list {
        position: absolute;
        top: 100%;
        display: none;
        right: 0;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.7);
    }

    a {
        display: inline-flex;
    }

    .second-menu-list > a {
        float: right;
        height: 30px;
    }

    .menu-list > a, .second-menu-list > a {
        height: 100%;
    }

    .first-line, .second-line {
        width: 60px;
    }
}

@media (min-width: 690px) {
    .gallery-container {
        width: 50%;
    }

    .first-gallery {
        margin-right: 15px;
    }

    #cherry, #apple {
        flex-direction: row;
    }

    #gean, #strawberry {
        flex-direction: row-reverse;
    }

    #gallery {
        display: flex;
    }

    footer {
        font-size: 20px;
    }
}