body {
    box-sizing: border-box;
    font-family: "Open Sans";
    font-weight: lighter;
}

.main-container {
    margin: 0 auto;
}

p {
    line-height: 1.6;
    font-size: 16px;
}

h1 {
    font-size: 20px;
}

h2, .menu-button, .menu-item, .second-menu-item {
    font-size: 20px;
}

nav {
    height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    transition: 0.6s;
    z-index: 10;
    width: 100%;
}

.flex, .menu-item, .second-menu-item, .header-text, .fruits-images {
    display: flex;
}

nav, a {
    width: 100%;
}


.small-nav {
    transition: 0.6s;
    height: 50px;
}

.menu-button {
    font-weight: 800;
    padding-right: 15px;
}

.menu-button:hover, .menu-item:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    height: 50px;
}

.menu-icon {
    width: 20px;
    height: 3px;
    background-color: #ffffff;
    position: relative;
    top: 11px;
    right: 22px;
}

.menu-icon:before, .menu-icon:after {
    width: 20px;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    content: ' ';
}

.menu-icon:before {
    top: 6px;
}

.menu-icon:after {
    bottom: 6px;
}

.menu-list {
    position: absolute;
    top: 100%;
    right: -50%;
    transform: translate(-50%, 0);
    width: 100%;
}

.menu-item, .second-menu-item, .header-text, .fruits-images {
    justify-content: center;
    align-items: center;
}

.menu-item, .second-menu-item {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
}

.second-menu-item {
    background-color: rgba(0, 0, 0, 0.6);
}

.menu-item:hover, .second-menu-item:hover {
    background-color: rgba(0, 0, 0, 0.75);
}

.hide {
    display: none;
}

.logo {
    height: 45px;
    padding-left: 10px;
}

.logo > img {
    height: 100%;
}

h1, h2, p, #contact {
    padding: 15px;
}

.header-text {
    text-shadow: 1px 1px #000000;
}

.header-text > h1 {
    font-size: 35px;
}

.main-container {
    width: 100%;
}

.header {
    background-image: url("/zadanie/img/mix-owocow-w-koszyku.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.header-text {
    color: white;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.18);
}

.fruits-images > div, .fruits-gallery {
    width: 50%;
}

img {
    max-width: 100%;
}

.right-margin {
    margin-right: 15px;
}

hr {
    width: 200px;
    border: 0;
    height: 1px;
    background: #ff4242;
    margin: 15px auto;
}

#about > h1, .submit, .copyright, .logo-container {
    text-align: center;
}

#about > p {
    text-align: justify;
}

table, tr, th, td {
    border: 1px solid #000000;
    border-collapse: collapse;
    font-size: 14px;
    padding: 3px;
}

th {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

table {
    margin: 5px;
}

.fruits-gallery, .column, .header-text {
    flex-direction: column;
}

#types {
    flex-wrap: wrap;
}

.type-image, .type-description {
    width: 100%;
}

.type-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}

#types > h1 {
    font-size: 16px;
}

.fruits-gallery > h3 {
    position: relative;
    display: inline;
    font-size: 18px;
    padding: 10px;
}

.fruits-gallery > h3::after {
    height: 1px;
    background: #ff4242;
    content: '  ';
    position: absolute;
    display: inline;
    bottom: 0;
    left: 10px;
    width: 66%;
}

.fruits-gallery > p {
    font-size: 14px;
    padding: 10px;
}

#about, #types, #gallery {
    padding: 20px 0;
}

footer {
    background-color: #e1e1e1;
}

.footer-container {
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-column {
    justify-content: center;
    flex-grow: 1
}

.footer-item>a {
    color: black;
    font-weight: lighter;
}

.footer-item {
    padding: 15px 15px 0 15px;
}

.footer-item:last-child {
    padding: 15px;
}

#contact {
    flex-grow: 2;
    flex-wrap: wrap;
    align-content: center;
}

#contact > div {
    width: 100%;
}

#about {
    width: 80%;
    margin: 0 auto;
}

.logo-container {
    padding: 15px 20px 15px 15px;
    align-items: center;
    flex-grow: 1;
}

.logo-container>img {
    max-height: 80px;
    margin: 0 auto;
}

input, label {
    padding: 5px 0;
}

input {
    display: inline;
}

.email {
    width: 68%;
    background-color: #e1e1e1;
    border-width: 0;
    border-bottom: 1px solid #585858;
}

.submit {
    width: 30%;
    background-color: #e1e1e1;
    border: 1px solid #585858;
    text-decoration: none;
}

.copyright {
    width: 100%;
    padding: 5px;
}

@media (max-width: 767px) {
    #contact {
        flex: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .main-container {
        max-width: 750px;
    }

    .gallery-container {
        width: 50%;
    }

    #cherry, #apple {
        flex-direction: row;
    }

    #gean, #strawberry {
        flex-direction: row-reverse;
    }

    #gallery {
        display: flex;
    }

    .first-gallery {
        margin-right: 15px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .main-container {
        max-width: 970px;
    }

    .gallery-container {
        width: 50%;
    }

    #cherry, #apple {
        flex-direction: row;
    }

    #gean, #strawberry {
        flex-direction: row-reverse;
    }

    #gallery {
        display: flex;
    }

    .first-gallery {
        margin-right: 15px;
    }

    .header-text > h1 {
        font-size: 56px;
    }

    .header-text > h2 {
        font-size: 40px;
    }

    .fruits-gallery > h3
    {
        font-size: 30px;
    }

    .fruits-gallery > p
    {
        font-size: 17px;
    }

    table, tr, th, td {
        font-size: 25px;
        padding: 15px;
    }

    h1 {
        font-size: 35px;
    }

    p {
        line-height: 1.6;
        font-size: 22px;
    }
}

@media (min-width: 1200px) {
    .main-container {
        max-width: 1170px;
    }

    .gallery-container {
        width: 50%;
    }

    #cherry, #apple {
        flex-direction: row;
    }

    #gean, #strawberry {
        flex-direction: row-reverse;
    }

    #gallery {
        display: flex;
    }

    .first-gallery {
        margin-right: 15px;
    }

    .menu-button {
        display: none;
    }

    .menu-list {
        display: flex;
        position: relative;
        top: 0;
        right: 0;
        transform: none;
        width: 600px;
    }

    .menu-item {
        padding: 0 10px;
        background: none;
    }

    table, tr, th, td {
        font-size: 25px;
        padding: 15px;
    }

    h1 {
        font-size: 40px;
    }

    p {
        line-height: 1.6;
        font-size: 26px;
    }

    .type-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header-text > h1 {
        font-size: 76px;
    }

    .header-text > h2 {
        font-size: 50px;
    }

    .fruits-gallery > h3
     {
        font-size: 30px;
    }

    .fruits-gallery > p
    {
        font-size: 17px;
    }

}